Django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-mptt==0.16.0
gunicorn==21.2.0
dj-database-url==1.0.0
psycopg[binary]>=3.0
whitenoise==6.5.0